<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uniview.postloan.mapper.CollectionRecordMapper">

    <resultMap id="BaseResultMap" type="com.uniview.postloan.pojo.CollectionRecord">
            <id property="recordId" column="record_id" jdbcType="BIGINT"/>
            <result property="taskId" column="task_id" jdbcType="BIGINT"/>
            <result property="contactDate" column="contact_date" jdbcType="DATE"/>
            <result property="contactMethod" column="contact_method" jdbcType="VARCHAR"/>
            <result property="contactResult" column="contact_result" jdbcType="VARCHAR"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        record_id,task_id,contact_date,
        contact_method,contact_result,created_at,
        updated_at
    </sql>
    <insert id="insertCollectionRecord">
        INSERT INTO collection_record
        (task_id,contact_date,contact_method,contact_result,created_at,updated_at)
        VALUES
        (#{taskId},#{contactDate},#{contactMethod},#{contactResult},#{createdAt},#{updatedAt})
    </insert>
    <select id="findCollectionRecordsByTaskId" resultType="com.uniview.postloan.pojo.CollectionRecord">
        SELECT
            c_record.record_id AS collection_record_id,
            c_task.loan_id,
            l.loan_status
        FROM
            collection_record AS c_record
                INNER JOIN
            collection_task AS c_task ON c_record.task_id = c_task.task_id
                INNER JOIN
            loan AS l ON c_task.loan_id = l.loan_id;
    </select>
</mapper>
