<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uniview.postloan.mapper.MainNetPointMapper">

    <resultMap id="BaseResultMap" type="com.uniview.postloan.pojo.MainNetPoint">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="mainNetPointName" column="main_net_point_name" jdbcType="VARCHAR"/>
            <result property="mainNetPointAddress" column="main_net_point_address" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,main_net_point_name,main_net_point_address
    </sql>
</mapper>
