<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uniview.postloan.mapper.PostloanFollowupListMapper">

    <resultMap id="BaseResultMap" type="com.uniview.postloan.pojo.PostloanFollowupList">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="customerNumber" column="customer_number" jdbcType="VARCHAR"/>
            <result property="customerName" column="customer_name" jdbcType="VARCHAR"/>
            <result property="identityType" column="identity_type" jdbcType="VARCHAR"/>
            <result property="identityNamber" column="identity_namber" jdbcType="VARCHAR"/>
            <result property="loanAmount" column="loan_amount" jdbcType="VARCHAR"/>
            <result property="callbackPerson" column="callback_person" jdbcType="VARCHAR"/>
            <result property="taskStartTime" column="task_start_time" jdbcType="TIMESTAMP"/>
            <result property="taskEndTime" column="task_end_time" jdbcType="TIMESTAMP"/>
            <result property="registrationTime" column="registration_time" jdbcType="TIMESTAMP"/>
            <result property="taskStatus" column="task_status" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,customer_number,customer_name,
        identity_type,identity_namber,loan_amount,
        callback_person,task_start_time,task_end_time,
        registration_time,task_status
    </sql>
</mapper>
